In [2]:
list_1=["apple","banana","mango"]
print(list_1[0])
print(list_1[1])
print(list_1[2])

apple
banana
mango

In [3]:
Fruit_basket=["apple","banana","mango","grapes","berries","cherry","kiwi","pineapple","melon"]
print(Fruit_basket[2:5]) 

#inclusion of element at position index 2(which is the 3rd element) till the element at position index 4(which is the 3rd element) 
#not inclusive of position index 5

['mango', 'grapes', 'berries']

In [6]:
#print till position index 4

Fruit_basket=["apple","banana","mango","grapes","berries","cherry","kiwi","pineapple","melon"]
print(Fruit_basket[:4])

['apple', 'banana', 'mango', 'grapes']

In [7]:
#print from position index 4 to the end of list

Fruit_basket=["apple","banana","mango","grapes","berries","cherry","kiwi","pineapple","melon"]
print(Fruit_basket[4:])

['berries', 'cherry', 'kiwi', 'pineapple', 'melon']

In [12]:
# change the value of cherry to blackcurrent, and mango to raspberry

Fruit_basket = ["apple","banana","mango","grapes","berries","cherry","kiwi","pineapple","melon"]
Fruit_basket[2] = "raspberry"
Fruit_basket[Fruit_basket.index('cherry')] = "blackcurrent"
print(Fruit_basket)

['apple', 'banana', 'raspberry', 'grapes', 'berries', 'blackcurrent', 'kiwi', 'pineapple', 'melon']

In [4]:
list_a = [12, 34, 56, 78]
print(list_a[-2])
print(list_a[-1])

b=[12, 'sudeshna', 'pratyusha']
print(b)

56
78
[12, 'sudeshna', 'pratyusha']

# Sum of all values in the list

In [5]:
a = [1,2, 3, 4,56, 34, 44]
print(sum(a))

144

In [15]:
#append() adding 1 item at the end of the list

Fruit_basket = ["apple","banana","mango","grapes","berries","cherry","kiwi","pineapple","melon"]
Fruit_basket.append("orange")
print(Fruit_basket)

['apple', 'banana', 'mango', 'grapes', 'berries', 'cherry', 'kiwi', 'pineapple', 'melon', 'orange']

In [17]:
# Insert function appends at any position
Fruit_basket = ["apple","banana","mango","grapes","berries","cherry","kiwi","pineapple","melon"]
Fruit_basket.insert(4,"pomergrate")
print(Fruit_basket)

['apple', 'banana', 'mango', 'grapes', 'pomergrate', 'berries', 'cherry', 'kiwi', 'pineapple', 'melon']

In [7]:
#Extend() -> append elements from another list or a tuple, dictionary to the current list
list_fruits = ["apple" , "banana", "orange"]
tropical=["mango","papaya","strawberry"]
list_fruits.extend(tropical)
print(list_fruits)

tuple_fruits=("kiwi","pineapple")
list_fruits.extend(tuple_fruits)
print(list_fruits)
type(list_fruits)

['apple', 'banana', 'orange', 'mango', 'papaya', 'strawberry']
['apple', 'banana', 'orange', 'mango', 'papaya', 'strawberry', 'kiwi', 'pineapple']

list

In [22]:
#remove , this function cannot accept position numbers
list_fruits = ["apple", "banana", "orange", "mango", "papaya", "strawberry"]
list_fruits.remove("banana")
print(list_fruits)

for i in range(0,len(list_fruits)):
  print(list_fruits[i]," ", i , "\n")

#The pop() takes the index number
list_fruits.pop(1)
print(list_fruits)

['apple', 'orange', 'mango', 'papaya', 'strawberry']
apple   0

orange   1

mango   2

papaya   3

strawberry   4

['apple', 'mango', 'papaya', 'strawberry']

In [1]:
list_new = ['mango', 'apple', 'banana', 'cherry']
list_new.remove('banana')
print(list_new)

In [3]:
list_new_1 = ['mango', 'apple', 'banana', 'cherry']
print(list_new_1)
list_new_1.pop(1)
print(list_new_1)

['mango', 'apple', 'banana', 'cherry']
['mango', 'banana', 'cherry']

In [4]:
list_new_2 = ['mango', 'apple', 'banana', 'cherry']
print(list_new_2)
del list_new_2[0]
print(list_new_2)
del list_new_2

['mango', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [7]:
list_A =['a','b','c']
list_B = [1,2,3]
list_C = list_A + list_B
print(list_C)
type(list_C)

['a', 'b', 'c', 1, 2, 3]

list

# Adding values in a dictionary

In [10]:
dictionary = {'key1':5,'key2':6}
print(sum(dictionary.values()))

11