# DAUP ASSIGNMENT ISB Co'24 AMPBA

By Sudeshna Kundu, 
PGID : 12310045

QUESTION 3 Solution

In [1]:
import pandas as pd
import numpy as np
from decimal import Decimal

# a. reading the tsv file
df = pd.read_csv('./restaurant.tsv',sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [2]:
# By converting to csv file and reading the data to check if df and df1 returns the same result or not

tsv_table = pd.read_table('./restaurant.tsv',sep='\t')
file = tsv_table.to_csv('./restaurant_csv.csv',index=False)
df1 = pd.read_csv('./restaurant_csv.csv')
df1.head()
print(df.shape)
print(df1.shape)

(4622, 5)
(4622, 5)

In [3]:
#b.	Provide summary statistics on the columns in the dataset and 
#also identify the shape (number of rows, columns) and type of columns in the dataset.
print(df.describe())
print("=================================================")
print(df.shape)
print("The count of rows is", df.shape[0])
print("The count of columns is", df.shape[1])
print("=================================================")
datatypes = df.dtypes
print(datatypes)

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000
=================================================
(4622, 5)
The count of rows is 4622
The count of columns is 5
=================================================
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [4]:
#c.	Identify the item that has been ordered the most in the dataset and how many quantities of that item have been ordered?


max_count = max(df[['item_name']].value_counts())   #max no.of times a particular item was ordered
print("the max amount an item is ordered is",max_count)   
print("======================================================================",'\n')
#created a data frame which has items & their order frequency
df1 = df[['item_name']].value_counts().to_frame().reset_index()
df1 = df1.rename(columns= {0: "order_count"})
df1.index.name = 'index'
print(df1.head())

#Sorting items in descending order of their order frequency
df1.sort_values(['order_count'], ascending=False).head()

# now getting the name of the item with at the 0th row
var1 = df1.iloc[0]['item_name']
var2 = df1.iloc[0]['order_count']

print(f"The item which was ordered the most is {var1}, it was ordered {var2} times")

the max amount an item is ordered is 726
======================================================================

                 item_name  order_count
index
0             Chicken Bowl          726
1          Chicken Burrito          553
2      Chips and Guacamole          479
3            Steak Burrito          368
4        Canned Soft Drink          301
The item which was ordered the most is Chicken Bowl, it was ordered 726 times

In [5]:
df.index.name = 'index'
sales = Decimal(0.00)
p = Decimal(0.00)

for i in range(max(df.index)+1):
    p = Decimal(df.iloc[i]['item_price'].replace('$','').strip())
    sales = sales + p*df.iloc[i]['quantity']
print("$",sales)   #the sales of the restaurant during the entire period of the dataset

$ 39237.02

In [6]:
#e.	On average, how much does the restaurant make on any order?

L1=[]
sp = Decimal(0.00)
for i in range(max(df.index)+1):
    sp = Decimal(df.iloc[i]['item_price'].replace('$','').strip())
    sale = sp*int(df.iloc[i]['quantity'])
    L1.insert(i,sale)
df['sales']=L1
print(df.head())

#avg sales per order
df3 = df[["order_id","sales"]]
df4 = df3.groupby(["order_id"]).sum().reset_index()   #sum of sales wrt order_id
df4.index.name = 'index'    
print(df4.head(10))
n = 0                               #Number of orders
t_s = Decimal(0.00)                 #Total Sales
for i in range(max(df4.index)+1):
    n = n + 1
    t_s = t_s + Decimal(df4.iloc[i]['sales'])
    
print(t_s)
print(n)   
print("Average sales per order $",round(t_s/n,2))

       order_id  quantity                              item_name  \
index
0             1         1           Chips and Fresh Tomato Salsa
1             1         1                                   Izze
2             1         1                       Nantucket Nectar
3             1         1  Chips and Tomatillo-Green Chili Salsa
4             2         2                           Chicken Bowl

                                      choice_description item_price  sales
index
0                                                    NaN     $2.39    2.39
1                                           [Clementine]     $3.39    3.39
2                                                [Apple]     $3.39    3.39
3                                                    NaN     $2.39    2.39
4      [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98   33.96
       order_id  sales
index
0             1  11.56
1             2  33.96
2             3  12.67
3             4  21.00
4             5  13.70
5             6  17.50
6             7  15.70
7             8  10.88
8             9  12.85
9            10  13.20
39237.02
1834
Average sales per order $ 21.39